models/*
!models/.gitkeep
.ipynb_checkpoints/
.idea/
checkpoint-3300/
log.txt
input/*
!input/20619.json
!input/20620.json
!input/20621.json
!input/20622.json
!input/20623.json
output/*
!output/20619.json
!output/20620.json
!output/20621.json
!output/20622.json
!output/20623.json
FirstModel.zip
