models/*
.ipynb_checkpoints/
ApplyModel.ipynb
.idea/
checkpoint-3300/
log.txt
testin/*
!testin/20619.json
!testin/20620.json
!testin/20621.json
!testin/20622.json
!testin/20623.json
testout/*
!testout/20619.json
!testout/20620.json
!testout/20621.json
!testout/20622.json
!testout/20623.json
FirstModel.zip
